/* 头部 */
/*顶部栏 */
#header .top {
  height: 28px;
  font: 14px/28px 'SimHei';
}
#header .top .wrapper {
  padding-right: 12px;
}
/* 搜索栏 */
#header .search-cart {
  padding: 4px 10px 16px 0;
}
#header .search-cart > ul > li {
  float: left;
  text-align: center;
}
#header .search-cart > ul > li:first-child {
  width: 100px;
  height: 36px;
  font: 14px/36px 'SimHei';
  background-color: #ff6700;
  text-indent: 24px;
}
#header .search-cart > ul > li:last-child {
  width: 98px;
  height: 34px;
  border: 1px solid #ccc;
  font: 14px/34px 'SimHei';
}
#header .search-cart > label {
  width: 440px;
  height: 36px;
  background-color: #ff6700;
  background-position-x: 390px;
  margin-right: 36px;
}
#header .search-cart > label > input {
  width: 390px;
  height: 34px;
  font: 14px/34px 'SimHei';
  text-indent: 6px;
  border: none;
  margin: 1px 1px;
}
/* 导航栏 */
#header .nav .menu-title {
  width: 200px;
  height: 28px;
  font: 14px/28px 'SimHei';
  color: #fff;
  background: #ff6700;
  text-align: center;
  position: relative;
}
#header .nav .menu-title > span {
  display: inline-block;
  position: absolute;
  right: 35px;
  top: 4px;
}
#header .nav .menu-title .logo {
  width: 200px;
  height: 84px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: 1px;
  background-color: #ff6700;
  position: absolute;
  left: 0;
  bottom: 28px;
}
#header .nav .nav-menu {
  padding: 0 20px;
}
#header .nav .nav-menu > li {
  float: left;
  padding: 0 16px;
  height: 28px;
  font: 14px/28px 'SimHei';
}
#header .nav .nav-menu > li > a {
  font-weight: bold;
  color: #333;
}
/* 菜单&轮播 */
#menu-banner .side-menu {
  width: 200px;
  position: relative;
}
#menu-banner .side-menu > li {
  width: 200px;
}
#menu-banner .side-menu > li > p {
  width: 198px;
  border: 1px solid transparent;
  background-color: #ccc;
  font: 14px/28px 'MicrosoftYaHei';
  height: 28px;
  text-indent: 20px;
  position: relative;
}
#menu-banner .side-menu > li:first-of-type > p {
  padding-top: 5px;
}
#menu-banner .side-menu > li:last-of-type > p {
  padding-bottom: 5px;
}
#menu-banner .side-menu > li:hover > p {
  width: 199px;
  border: 1px solid #ff6700;
  border-color: #ff6700 #fff #ff6700 #ff6700;
  background-color: #fff;
  z-index: 10;
}
#menu-banner .side-menu > li:hover p > a {
  color: #ff6700;
}
#menu-banner .side-menu > li a {
  color: #1a1a1a;
}
#menu-banner .side-menu .sub-menu {
  width: 578px;
  min-height: 428px;
  border: 1px solid #ff6700;
  position: absolute;
  background-color: #fff;
  left: 200px;
  top: 0px;
  visibility: hidden;
  padding: 0 70px 0 36px;
  z-index: 8;
}
#menu-banner .side-menu .sub-menu .sub-menu-title {
  font: 12px/36px 'MicrosoftYaHei';
  height: 36px;
}
#menu-banner .side-menu .sub-menu .sub-menu-title span {
  margin-right: 36px;
  color: #1a1a1a;
}
#menu-banner .side-menu .sub-menu > dl {
  padding: 8px 0 18px;
}
#menu-banner .side-menu .sub-menu > dl > dt {
  font: 14px/26px 'MicrosoftYaHei';
  height: 26px;
  color: #f60;
  border-bottom: 2px solid #e6e6e6;
}
#menu-banner .side-menu .sub-menu > dl > dd {
  font: 12px/28px 'MicrosoftYaHei';
  height: 28px;
}

#menu-banner .side-menu .sub-menu > dl > dd > a {
  color: #1a1a1a;
  margin-right: 10px;
}
#menu-banner .side-menu > li:hover .sub-menu {
  visibility: visible;
}
/* 今日推荐 */
#daily-recommend {
  padding: 10px 0 0;
}
#daily-recommend > h3 {
  height: 36px;
}
#daily-recommend > h3 > p {
  font: 24px/30px 'SimHei';
  height: 30px;
  border-bottom: 6px solid #f60;
  color: #f60;
  text-indent: 16px;
}
#daily-recommend > dl {
  margin: 0 5px;
  background-color: #f60;
}
#daily-recommend > dl dd {
  float: left;
  width: 196px;
  height: 246px;
  background-color: #fff;
  margin: 0 2px 2px 0;
}
#daily-recommend > dl dd > ul > li:nth-child(2) {
  width: 196px;
  height: 25px;
  position: relative;
}
#daily-recommend > dl dd > ul > li:nth-child(2) > img {
  position: absolute;
  left: -2px;
}
#daily-recommend > dl dd:nth-child(6n + 1) {
  margin-left: 2px;
}

/* 今日推荐 */
#ebooks {
  padding-top: 42px;
  height: 470px;
}
/* 今日推荐左板块 */
#ebooks .ebooks-left {
  width: 904px;
  height: 470px;
}
/* 头部标题 */
.area-title {
  font: 26px/34px 'SimHei';
  height: 34px;
  border-bottom: 6px solid #f60;
}
/* 头部标题 选项卡 */
.area-title .tabs {
  width: 300px;
  height: 34px;
}
.area-title .tabs > li {
  float: left;
  width: 100px;
  height: 34px;
  font: 18px/34px 'SimHei';
  text-align: center;
  cursor: pointer;
}
.area-title .tabs > li.active {
  background-color: #f60;
  color: #fff;
}

#ebooks .ebooks-left .ebooks-left-container .container-left {
  width: 238px;
  height: 436px;
}
#ebooks .ebooks-left .ebooks-left-container .container-left .top {
  height: 286px;
}
.container-left .list {
  height: 150px;
  background-color: #f9f9f9;
}

.container-left .list > li {
  float: left;
  width: 79px;
  height: 28px;
  font: 14px/28px 'SimHei';
  padding-top: 10px;
  text-indent: 5px;
}
.container-left .list > li > a {
  color: #333;
}
#ebooks .ebooks-left .ebooks-left-container .ebooks-left-container-right {
  width: 666px;
  height: 436px;
  background-color: #ccc;
  display: none;
}
#ebooks .ebooks-left .ebooks-left-container .ebooks-left-container-right.active {
  display: block;
}
#ebooks .ebooks-left .ebooks-left-container .ebooks-left-container-right > li {
  float: left;
  width: 164px;
  height: 216px;
  margin: 0 0 2px 2px;
  background-color: #fff;
  text-indent: 4px;
}
#ebooks .ebooks-left .ebooks-left-container .ebooks-left-container-right .ebooks-adv {
  width: 330px;
}
#ebooks .ebooks-left .ebooks-left-container .ebooks-left-container-right .title {
  padding-top: 16px;
  font: 16px/20px 'MicrosoftYaHei';
}

#ebooks .ebooks-left .ebooks-left-container .ebooks-left-container-right .desc {
  font: 12px/16px 'MicrosoftYaHei';
  color: #ff2929;
  padding-bottom: 12px;
}
#ebooks .ebooks-left .ebooks-left-container .ebooks-left-container-right .img {
  text-align: center;
  width: 160px;
  height: 110px;
}
#ebooks .ebooks-left .ebooks-left-container .ebooks-left-container-right .price {
  padding-top: 5px;
  font: 14px/38px 'MicrosoftYaHei';
  color: #ff2929;
}
#ebooks .ebooks-left .ebooks-left-container .ebooks-left-container-right .price > del {
  color: #ccc;
}
/* 今日推荐右板块 新书畅销榜 */
#ebooks .ebooks-bestseller {
  margin-top: 34px;
  width: 284px;
  height: 442px;
  background-color: #e6e6e6;
}
#ebooks .ebooks-bestseller > dl {
  width: 280px;
  margin: 0 auto;
}
#ebooks .ebooks-bestseller > dl > dt {
  font: 24px/40px 'SimHei';
  text-align: center;
  margin-top: 2px;
  background-color: #fff;
}
#ebooks .ebooks-bestseller > dl > dd {
  font: 14px/40px 'SimHei';
  margin-top: 2px;
  background-color: #fff;
  cursor: pointer;
}
#ebooks .ebooks-bestseller > dl > dd > .num {
  float: left;
  width: 22px;
  height: 40px;
  background: #fff;
  text-align: center;
  bottom: 2px;
}
#ebooks .ebooks-bestseller > dl > dd.current {
  margin-top: 0;
  font: 14px/16px 'SimHei';
}
#ebooks .ebooks-bestseller > dl > dd.current > .detail {
  display: block;
}
#ebooks .ebooks-bestseller > dl > dd.current > .title {
  display: none;
}
#ebooks .ebooks-bestseller > dl > dd > .detail {
  display: none;
}
#ebooks .ebooks-bestseller > dl > dd > .title {
  display: block;
}
#ebooks .ebooks-bestseller > dl > dd > .detail > img {
  margin-right: 10px;
}
/* 服装  */
#clothing {
  padding-top: 44px;
}

.product-container {
  height: 500px;
}
.product-container .container-left {
  width: 238px;
  height: 500px;
}
#sports .product-container .container-left .top {
  height: 350px;
  background-image: url('../images/160729pc-A.jpg');
  background-clip: content-box;
}
.product-container .product-container-right {
  width: 962px;
  height: 500px;
  background-color: #ccc;
}
.product-container .product-container-right .top {
  width: 962px;
  height: 338px;
}
.product-container .product-container-right .top > li {
  float: left;
  height: 338px;
  margin: 0 0 2px 2px;
  background-color: #fff;
}
.product-container .product-container-right .top > li:first-child {
  width: 424px;
}
.product-container .product-container-right .top > li:nth-child(n + 2) {
  width: 176px;
}
.product-container .product-container-right .top > li > p {
  padding-left: 8px;
}
.product-container .product-container-right .top > li > .title {
  font: 16px/24px 'MicrosoftYaHei';
  height: 24px;
  color: #333;
}
.product-container .product-container-right .top > li > .desc {
  font: 14px/22px 'MicrosoftYaHei';
  height: 22px;
  color: #999;
}
.product-container .product-container-right .top > li > .discounting {
  padding-top: 6px;
}
.product-container .product-container-right .top > li > .discounting > span {
  display: block;
  width: 106px;
  height: 20px;
  font: 12px/20px 'MicrosoftYaHei';
  color: #fff;
  background-color: #f32;
  text-align: center;
  border-radius: 8px;
}
.product-container .product-container-right .top > li > .img {
  padding: 22px 0 0;
}
.product-container .product-container-right .top > li > .img > img {
  width: 176px;
  height: 244px;
}
.product-container .product-container-right .bottom > li {
  float: left;
  height: 158px;
  margin: 0 0 2px 2px;
  background-color: #fff;
}
.product-container .product-container-right .bottom > li:first-child {
  width: 424px;
}
.product-container .product-container-right .bottom > li:nth-child(n + 2) {
  width: 176px;
}
.product-container .product-container-right .bottom > li > p {
  padding-left: 8px;
}
.product-container .product-container-right .bottom > li > .title {
  font: 16px/28px 'MicrosoftYaHei';
  height: 28px;
  color: #333;
}
.product-container .product-container-right .bottom > li > .desc {
  font: 12px/12px 'MicrosoftYaHei';
  height: 12px;
  color: #999;
}
.product-container .product-container-right .bottom > li > .img {
  padding: 6px 0 0;
}
.product-container .product-container-right .bottom > li > .img > img {
  width: 176px;
  height: 110px;
}
.brand-list {
  width: 1200px;
}
.brand-list > li {
  float: left;
  width: 133px;
  height: 65px;
  text-align: center;
  line-height: 65px;
}

#kids .product-container .container-left .top {
  height: 350px;
  background-image: url('../images/86030026097384_y.jpg');
  background-clip: content-box;
}
